*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h1{
  color: rgb(253, 253, 253);
  background-color: rgb(8, 8, 168);
  padding: 30px;
  font-size: 50px;
  text-align: center;
}



a {
      margin-top: 20px;
      display: block;
      padding: 54px 12px;
      background-color: #0a3441;
      color: white;
      text-decoration: none;
      border-radius: 20px;
      font-weight: bold;
      transition: background-color 0.3s, transform 0.2s;
      text-align: center;
      width: 300px;
      margin-left: 20%;  
}

a:hover {
      background-color: #38b0d4;
      transform: scale(1.03);
}

@media (max-width: 480px){
    h1 {
        font-size: 1.4rem;
      }

      a {
        font-size: 0.95rem;
        padding: 12px 18px; 
            
      }
    }